
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div>
    <form action="@Url.Action("Login")" method="post">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>

    </form>
</div>